<!--The content below is only a placeholder and can be replaced.-->

<div class="input-group">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button">ชื่อ</button>
  </div>
  <input type="text" class="form-control" [(ngModel)]="name" name="winddina" aria-label="" aria-describedby="basic-addon1">
</div>
<div class="input-group">
    <div class="input-group-prepend">
      <button class="btn btn-success" type="button">คะแนน</button>
    </div>
    <input type="text" class="form-control"  [(ngModel)]="Grade" Grade="qwerty" aria-label="" aria-describedby="basic-addon1">
  </div>

<router-outlet></router-outlet> 
{{name}}
<label *ngIf="Grade>=50">Grade A</label>
<label *ngIf="Grade<50">Grade F</label>
<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>studentid</th>
        <th>Name</th>
        <th>weght</th>
        <th>height</th>
        <th>IBM</th>
        <th>ผลลัพ</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <td >{{studen.studentid}}</td>
            <td>{{studen.name}}</td>
            <td >{{studen.weight}}</td>
            <td >{{studen.height}}</td>
          </tr>
      <tr *ngFor="let s of studentlist;">
          <td >{{s.studentid}}</td>
          <td>{{s.name}}</td>
          <td >{{s.weight}}</td>
          <td >{{s.height}}</td>
          <td >{{s.bmi}}</td>
          <td *ngIf="s.bmi>20">อ้วน</td>
          <td *ngIf="s.bmi==20">ปกติ</td>
          <td *ngIf="s.bmi<20">ผอมมาก</td>
          
        </tr>
     
    </tbody>
  </table>